<div class="grid-main">
    <div>
        <div class="grid-row">
            <div class="text-base font-bold pt-2">Nombre</div>
            <div class="p-2">{{event?.title}}</div>
        </div>
        <div class="grid-row">
            <div class="text-base font-bold pt-2">Descripción</div>
            <div class="p-2"><p>{{event?.description}}</p></div>
        </div>
        <div class="grid-row">
            <div class="text-base font-bold pt-2">Tipo</div>
            <div class="flex gap-2 p-2">
                <p>{{event?.eventType | handleTypePipe}}</p>
                <img style="width: 1.2rem;" [src]="event?.eventType | handleIconTypePipe" alt="">
            </div>
        </div>
        <div class="grid-row">
            <div class="text-base font-bold pt-2">Categoría</div>
            <div class="p-2"><app-tag-category [category]="event?.categoryName"></app-tag-category></div>
        </div>
        <div class="grid-row">
            <div class="text-base font-bold pt-2">Número de ganadores</div>
            <div class="p-2">{{event?.winnersCount}}</div>
        </div>
        <div class="grid-row">
            <div class="text-base font-bold pt-2">Fecha de realización</div>
            <div class="p-2">{{event?.endDate | handleDatePipe}}</div>
        </div>
        <div class="grid-row">
            <div class="text-base font-bold pt-2">Estado</div>
            <div class="p-2">{{event?.statusEvent | handleStatusPipe}}</div>
            <!-- <button disabled class="px-3 py-1 text-sm font-semibold rounded-full bg-green-500 text-white opacity-80 cursor-default">
            Abierto
            </button> -->
        </div>
        <!-- <div class="grid-row">
            <div class="text-base font-bold pt-2">Estado</div>
            <div class="flex items-center gap-2 p-2 bg-green-50 border border-green-200 rounded-md">
                <span class="text-green-700 font-medium">Abierto</span>
                <svg class="w-5 h-5 text-green-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                </svg>
            </div>
        </div> -->
        <div *ngIf="event?.eventType == eventTypes.RAFFLES" class="grid-row">
            <div class="text-base font-bold pt-2">Cantidad de números</div>
            <div class="p-2">{{event?.quantityOfNumbers}}</div>
        </div>
        <div *ngIf="event?.eventType == eventTypes.RAFFLES" class="grid-row">
            <div class="text-base font-bold pt-2">Precio del número</div>
            <div class="p-2">{{event?.priceOfNumber}}</div>
        </div>
        <div *ngIf="event?.statusEvent == eventStatus.FINISHED " class="grid-row">
            <div class="text-base font-bold pt-2">Ganadores</div>
            <div class="p-2 flex flex-col gap-2">
                <div *ngFor="let winner of winners; let i = index" class="flex items-center gap-3">
                    <span>{{winner?.name}} {{winner?.surname}}</span>
                    <app-tag-prize [position]="winner?.position || (i+1)"></app-tag-prize>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="event?.imageUrl">
        <div class="grid-row" style="align-items: start;">
            <div class="text-base font-bold pt-2">Imagen del evento</div>
            <div class="p-2" style="border: solid 2px lightslategray; border-radius: 5px;">
                <img style="width: 20vw;" [src]="event?.imageUrl ? 'data:image/jpeg;base64,' + event?.imageUrl : 'assets/no-image.jpg'" >
            </div>
        </div>
    </div>
</div>