<div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition" [ngClass]="customBackground()">
    <h2 class="text-lg font-semibold text-blue-600 mb-2">{{event?.title}}</h2>
    <!-- <p class="text-sm text-gray-700 mb-1"><b>Premio:</b> Tablet Samsung</p> -->
    <p class="text-sm text-gray-700 mb-1"><b>Fecha de realizacion:</b>{{event?.endDate}}</p>
    <p class="text-sm text-gray-700 mb-3"><b>Estado:</b>{{event?.statusEvent}}</p>
    <button class="mt-auto bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 text-sm">Ver detalles</button>
</div>

<!-- <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition">
    <h2 class="text-lg font-semibold text-blue-600 mb-2">Sorteo #3</h2>
    <p class="text-sm text-gray-700 mb-1">Premio: Gift Card $1000</p>
    <p class="text-sm text-gray-700 mb-1">Fecha: 30/09/2025</p>
    <p class="text-sm text-gray-700 mb-3">Participantes: 200</p>
    <button class="mt-auto bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 text-sm">Ver detalles</button>
</div> -->