<!-- modal.component.html -->
<div *ngIf="show" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-gray-50 dark:bg-gray-900 rounded-lg shadow-lg p-6 max-w-md w-full relative">
    <button (click)="close()" class="absolute top-2 right-2 text-gray-500 hover:text-black">✖</button>

    <div class="flex pb-1 gap-2" style="align-items: baseline;">
      <h2 class="text-xl font-bold mb-2">{{dataEvent?.title}}</h2>
      <!-- <span>✅</span> -->
    </div>

    <!-- fila tipo y categoria -->
    <div class="flex gap-2 pb-2">
      <img style="width: 30px; height: 30px;" [src]="dataEvent?.eventType | handleIconTypePipe" alt="">
      <!-- @if (dataEvent?.category?.name) { -->
        <!-- <app-tag-category [category]="dataEvent?.category?.name"></app-tag-category> -->
        <app-tag-category [category]="dataEvent?.categoryName"></app-tag-category>
      <!-- } -->
    </div>

    <div>
        <img 
          [src]="dataEvent?.imageUrl ? 'data:image/jpeg;base64,' + dataEvent?.imageUrl : 'assets/no-image.jpg'" 
          [alt]="dataEvent?.title || 'Imagen del evento'"
          class="mx-auto min-w-[100px] max-h-[100px] object-cover rounded-lg"
          [class.border]="dataEvent?.imageUrl"
          [class.border-gray-300]="dataEvent?.imageUrl">
    </div>
    
    <div>
      <small><b>Descripción del evento</b></small>
      <p class="mb-4">{{dataEvent?.description}}</p>
    </div>

    <!-- opcion 1: fechas e imagen -->
    <!-- <div class="flex">
        <div class="basis-1/2">
          <div>
            <small><b>Fecha de realizacion</b></small>
            <p class="mb-4">19/09/25</p>
          </div>
          <div>
            <small><b>Creado el dia</b></small>
            <p class="mb-4">12/09/25</p>
          </div>
        </div>
        <div class="basis-1/2">
            <img src="assets/account_24.svg" class="mx-auto min-w-[100px] w-[100px] h-[100px]">
        </div>
    </div> -->

    <!-- opcion 2: imagen arriba, fechas enfiladas -->
    <div class="flex">
        <div class="basis-1/2">
          <div>
            <small><b>Fecha de realizacion</b></small>
            <p class="mb-4">{{dataEvent?.endDate | handleDatePipe}}</p>
          </div>
        </div>
        <div class="basis-1/2">
          <div>
            <small><b>Creado el dia</b></small>
            <p class="mb-4">{{dataEvent?.startDate | handleDatePipe}}</p>
          </div>
        </div>
    </div>
    <div class="pt-1">
      <div class="pt-2">
        <label for="titulo" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
            Link para compartir
        </label>
        <div class="flex gap-2">
          <input
              type="text"
              id="linkShare"
              name="link share"
              class="appearance-none relative block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-white bg-white dark:bg-gray-800 rounded-lg sm:text-sm"
          />
          <div class="flex gap-1">
            <button class="bg-green-500 text-white py-[1px] px-2 rounded">
              <img class="w-10 h-6 filter invert" src="assets/link.png" alt="">
            </button>
            <button class="bg-blue-500 text-white py-[1px] px-2 rounded">
              <img class="w-10 h-6 filter invert" src="assets/qr-code.png" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
