<div class="container">
    <div class="max-w-2xl pb-2">
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900 dark:text-white">Gestiona tu evento</h2>
    </div>
    
    <div class="rounded-[6px] p-[10px] border-2 border-[darkslategray]">
        <h3 class="text-[1.2rem] text-[mediumseagreen] pb-2">Información del evento</h3>
        <!-- form de datos del sorteo -->
        <!-- <form [formGroup]="formEvent">
            <div class="grid-name-description-image">
                <div class="pt-2 item-name">
                    <label for="titulo" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                        Nombre
                    </label>
                    <input
                        type="text"
                        id="titulo"
                        formControlName="title"
                        name="titulo"
                        class="appearance-none relative block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-white bg-white dark:bg-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        [ngClass]="formEvent.get('title')?.disabled ? '': 'transition-all duration-300 transform hover:scale-[1.02] focus:scale-[1.02]' "
                    />
                </div>
                <div class="pt-2 item-description">
                    <label for="description" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                        Descripción
                    </label>
                    <textarea
                        id="description"
                        formControlName="description"
                        name="Descripción de tu sorteo"
                        rows="3"
                        class="appearance-none relative block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 dark:placeholder-gray-400 text-gray-900 dark:text-white bg-white dark:bg-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm transition-all duration-300 transform hover:scale-[1.02] focus:scale-[1.02] resize-none"
                    ></textarea>
                </div>
                <div class="pt-2 item-image">
                    <label for="description" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                        Imagen de tu evento
                    </label>
                    <app-loader-image [srcImage]="event?.imageUrl"></app-loader-image>
                </div>
            </div>
    
            <div class="grid-custom-2 pt-2">
                <div>
                    <label for="draw" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Tipo (*)</label>
                    <select formControlName="drawType" id="draw" class="bg-gray-800 text-white rounded-md px-4 py-2 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="">-- Seleccioná el tipo --</option>
                        <option *ngFor="let type of types" [value]="type.code">
                            {{ type.name }}
                        </option>
                    </select>
                    <div *ngIf="formEvent.get('drawType')?.invalid && formEvent.get('drawType')?.touched">
                      <small>Debés seleccionar un tipo.</small>
                    </div>
                </div>
                <div>
                    <label for="draw" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Categoria</label>
                    
                    <select formControlName="category" id="category" class="bg-gray-800 text-white rounded-md px-4 py-2 border border-gray-600">
                        <option value="">-- Seleccioná una categoria --</option>
                        <option *ngFor="let category of categories" [value]="category.id">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
            </div>
    
            <div class="grid-custom-2 pt-4">
                <div>
                    <label for="winners" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                        Cantidad de ganadores
                    </label>
                    <input
                        type="number"
                        id="winners"
                        max=1
                        min=10
                        formControlName="winners"
                        name="Cantidad de ganadores"
                        class="appearance-none relative block w-full px-2 py-2 border border-gray-300 dark:border-gray-600 dark:placeholder-gray-400 text-gray-900 dark:text-white bg-white dark:bg-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                        [ngClass]="formEvent.get('winners')?.disabled ? '': 'transition-all duration-300 transform hover:scale-[1.02] focus:scale-[1.02]' "
                    />
                </div>
                <div>
                    <label for="executionDate" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                        Fecha de realización
                    </label>
                    <input
                        type="date"
                        id="executionDate"
                        formControlName="executionDate"
                        name="Fecha de realización"
                        class="appearance-none relative block w-full px-2 py-2 border border-gray-300 dark:border-gray-600 dark:placeholder-gray-400 text-gray-900 dark:text-white bg-white dark:bg-gray-800 rounded-lg sm:text-sm"
                    />
                </div>
            </div>
        </form> -->

        <!-- <div class="grid-test-main">
            <div>
                <div class="grid-test">
                    <div class="text-base font-bold pt-2">Nombre</div>
                    <div class="p-2">{{event?.title}}</div>
                </div>
                <div class="grid-test">
                    <div class="text-base font-bold pt-2">Descripción</div>
                    <div class="p-2"><p>{{event?.description}}</p></div>
                </div>
                <div class="grid-test">
                    <div class="text-base font-bold pt-2">Tipo</div>
                    <div class="p-2"><p>{{event?.eventType}}</p></div>
                </div>
                <div class="grid-test">
                    <div class="text-base font-bold pt-2">Categoría</div>
                    <div class="p-2"><p>{{event?.categoryName}}</p></div>
                </div>
                <div class="grid-test">
                    <div class="text-base font-bold pt-2">Número de ganadores</div>
                    <div class="p-2">{{event?.winnersCount}}</div>
                </div>
                <div class="grid-test">
                    <div class="text-base font-bold pt-2">Fecha de realización</div>
                    <div class="p-2">{{event?.endDate | handleDatePipe}}</div>
                </div>
            </div>
            <div>
                <div class="grid-test" style="align-items: start;">
                    <div class="text-base font-bold pt-2">Imagen del evento</div>
                    <div class="p-2">
                        <img style="width: 20vw;" src="assets/no-image.jpg">
                    </div>
                </div>
            </div>
        </div> -->

        <app-info-event [event]="event"></app-info-event>
    </div>

</div>

<app-modal-info [dataModal]="dataModal" #modalInfo></app-modal-info>

