<!-- modal.component.html -->
<div *ngIf="show" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-gray-50 dark:bg-gray-900 rounded-lg shadow-lg p-6 max-w-2xl w-full relative">
    <button (click)="close()" class="absolute top-2 right-2 text-gray-500 hover:text-black">✖</button>
    <div class="flex pb-1 gap-2" style="align-items: baseline;">
      <h2 class="text-xl font-bold mb-2">Tu evento, listo para compartir</h2>
    </div>
    <app-event-share-card></app-event-share-card>
  </div>
</div>