.container{
    padding: 1% 3%;
}
.grid-custom-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.grid-custom-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.grid-description{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}