<!-- Fondo oscuro -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 overflow-auto">
  <!-- Contenedor del modal -->
  <div
    class="bg-white dark:bg-gray-800 p-6 rounded-2xl shadow-xl w-full max-w-5xl mx-4 my-10 relative overflow-y-auto max-h-[90vh]"
  >
    <!-- Botón cerrar -->
    <button
      (click)="closeModal()"
      class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 dark:hover:text-gray-300"
    >
      ✕
    </button>

    <!-- Contenido -->
    <div class="flex flex-col gap-4">
      <h2 class="text-xl font-semibold text-gray-800 dark:text-white text-center">
        Seleccioná tus números
      </h2>

      <!-- buscador -->
      <div class = "flex justify-center mb-4">
        <input
            type = "text"
            placeholder = "Buscar números disponibles..."
            [(ngModel)] = "searchTerm"
            (input) = "currentPage = 1"
            class="w-1/2 px-3 py-2 rounded-lg border outline-none
                bg-gray-100 text-gray-900
                dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600
                focus:ring-2 focus:ring-blue-500 focus:border-transparent
                transition"
        />
      </div>

        <!-- Grilla de números -->
        <div class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-8 lg:grid-cols-10 gap-x-2 gap-y-3">
            <button
              *ngFor="let num of paginatedNumbers"
              (click)="selectNumber(num)"
              [disabled]="num.buyStatus"
              class="aspect-square w-12 flex items-center justify-center border rounded-lg shadow transition text-sm"
              [ngClass]="{
                'bg-red-500 bg-opacity-70 text-white cursor-not-allowed': num.buyStatus,
                'bg-purple-600 text-white': num.selectStatus && !num.buyStatus,
                'bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-100 hover:bg-blue-100 dark:hover:bg-blue-600': !num.selectStatus && !num.buyStatus
              }"
            >
              {{ num.ticketNumber }}
            </button>
        </div>

        <app-pagination
            [currentPage] = "currentPage"
            [totalPages] = "totalPages"
            (pageChange) = "onPageChange($event)"
        >
        </app-pagination>
      
      <div class="flex justify-center">
        <button
          class="h-9 px-4 bg-green-600 hover:bg-green-700 text-white font-medium rounded-lg shadow-sm"
          (click)="onConfirmSelection()"
        >
          Adquirir números
        </button>
      </div>
    </div>
  </div>
</div>
